body {
  font-family: var(--font-SupremeLL);
}

.footer {
  padding: 40px 60px 0;
}

/* ── Logo acima dos mapas ── */
.logo-top {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
  padding: 20px 0px;
  margin-top: 40px;
  margin-bottom: 32px;
}

.logo-top img {
  height: 100px;
  width: auto;
}

/* ── Grid de mapas ── */
.maps-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  margin-bottom: 20px;
}

.map-img {
  width: 100%;
  height: 420px;
  border-radius: 4px;
  overflow: hidden;
}

.map-img iframe {
  width: 100%;
  height: 100%;
  border: 0;
  display: block;
}

.contact-info {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contact-row a.info-link{
  width: fit-content;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 15px;
  color: var(--preto1);
  transition: color .3s;
}

.contact-row a.info-link:hover{
  color: var(--azul-ciano1);
}


/* ── Barra inferior ── */
.bottom-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 0 20px;
}

.copyright {
  font-size: 13px;
  color: #555;
}

/* ── Link KODE.dev ── */
.kode-wrapper {
  text-align: right;
}

.kode-text {
  font-size: 13px;
  color: #555;
  margin: 0;
}

.kode-link {
  font-size: 13px;
  color: #7c3aed;
}
