/* Telas com 905px - 1080px*/
@media screen and (min-width: 950px) and (max-width: 1095px){
    div.veiculos{
        justify-content: space-between;
    }

    /* Card dos veículos */
    article.veiculo{
        width: 400px;
    }
}

/* Telas com 755px - 954px*/
@media screen and (min-width: 755px) and (max-width: 954px){
    /* Section - Veículos */
    section.sectionVeiculos h1.sectionVeiculosTitulo{
        font-size: 32px;
    }

    div.veiculos{
        justify-content: space-between;
    }

}

/* Telas com 525px - 754px*/
@media screen and (min-width: 525px) and (max-width: 754px){
    /* Section - Veículos */
    section.sectionVeiculos h1.sectionVeiculosTitulo{
        font-size: 28px;
    }

    div.veiculos{
        justify-content: space-between;
    }

    /* Card dos veículos */
    article.veiculo{
        width: 220px;
    }
}

/* Telas com 515px - 525px*/
@media screen and (min-width: 515px) and (max-width: 525px){
    /* Section - Veículos */
    section.sectionVeiculos h1.sectionVeiculosTitulo{
        font-size: 28px;
    }

    /* Container com os veículos */
    h2.sectionVeiculosSubTitulo{
        margin-left: 42px;
        margin-bottom: 16px;
        font-size: 16px;
    }

    h2.sectionVeiculosSubTitulo::before{
        left: -42px;
        top: 55%;
        width: 30px;
        height: 2px;
        border-radius: 99px;
        background-color: var(--preto1);
    }

    /* Card dos veículos */
    article.veiculo{
        width: 220px;
    }
}

/* Telas com ...px - 515px*/
@media screen  and (max-width: 515px){
    /* Section - Veículos */
    section.sectionVeiculos h1.sectionVeiculosTitulo{
        font-size: 24px;
    }

    /* Container com os veículos */
    h2.sectionVeiculosSubTitulo{
        margin-left: 42px;
        margin-bottom: 16px;
        font-size: 16px;
    }

    h2.sectionVeiculosSubTitulo::before{
        left: -42px;
        top: 55%;
        width: 30px;
        height: 2px;
        border-radius: 99px;
        background-color: var(--preto1);
    }

    /* Card dos veículos */
    article.veiculo{
        width: 100%;
        gap: 8px;
    }

    article.veiculo img.veiculoImg{
        margin: 0 auto;
        width: 80%;
        transition: scale .3s;
    }

    article.veiculo p{
        font-size: 28px;
    }

    article.veiculo button.btn-bordaPreta{
        margin: 0 auto;
        width: 70%;
        font-size: 12px;
    }
}